*{margin:0px;   padding:0px;	border:0px; white-space:nowrap;}

body{ background: url("assets/images/universe.png");
    background-repeat: no-repeat;
}

h1{color: white;
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    font-family: "Arial", sans-serif, bold;


}



#game-area{
    z-index: 50;
    margin-left: 320px;
    margin-top: 75px
}
#monitor{
    z-index: -1;
    position: absolute;
    top: 151px;
    margin-left: 270px;

}
